.home h1 {
  color: var(--clr-text);

  text-align: center;
}
.home p {
  color: var(--clr-text-lt)
}
.home a {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: var(--clr-accent);
  border-radius: 4px;
  color: white;
  text-align: center;
}